In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import tensorflow as tf

In [2]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [3]:
print("Shape of training data:",train_df.shape)
print("Shape of test data:", test_df.shape)

Shape of training data: (891, 12)
Shape of test data: (418, 11)

In [4]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [8]:
print("Age column has", train_df.Age.isnull().sum(), "missing values out of", len(train_df),
      ". Missing value percentage =", train_df.Age.isnull().sum()/len(train_df)*100)
print("Cabin column has", train_df.Cabin.isnull().sum(), "missing values out of", len(train_df),
      ". Missing value percentage =", train_df.Cabin.isnull().sum()/len(train_df)*100)
print("Embarked column has", train_df.Embarked.isnull().sum(), "missing values out of", len(train_df),
      ". Missing value percentage =", train_df.Embarked.isnull().sum()/len(train_df)*100)

Age column has 177 missing values out of 891 . Missing value percentage = 19.865319865319865
Cabin column has 687 missing values out of 891 . Missing value percentage = 77.10437710437711
Embarked column has 2 missing values out of 891 . Missing value percentage = 0.22446689113355783

In [9]:
train_df['Age'].fillna(train_df['Age'].median(),inplace=True)
test_df['Age'].fillna(test_df['Age'].median(),inplace=True)

test_df['Fare'].fillna(test_df['Fare'].median(),inplace=True)

train_df['Embarked'].fillna(train_df['Embarked'].mode()[0],inplace=True)

In [10]:
train_df['Sex'] = train_df['Sex'].map({'female':0,'male':1}).astype(int)

In [11]:
drop_column = ['PassengerId','Cabin', 'Ticket','Name','Embarked']
train_df.drop(drop_column, axis=1, inplace = True)
test_df.drop(drop_column, axis=1, inplace = True)

In [12]:
train_df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [13]:
test_df.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [14]:
train_df.dtypes

Survived      int64
Pclass        int64
Sex           int32
Age         float64
SibSp         int64
Parch         int64
Fare        float64
dtype: object

In [15]:
for x in train_df.columns:
    train_df[x]=train_df[x].astype(np.float32)

In [16]:
train_df.dtypes

Survived    float32
Pclass      float32
Sex         float32
Age         float32
SibSp       float32
Parch       float32
Fare        float32
dtype: object

In [18]:
X_train_temp = train_df.drop('Survived',axis=1)
Y_train_temp = train_df['Survived']


X_train, X_test, Y_train, Y_test = train_test_split(X_train_temp, Y_train_temp, test_size = 0.2)

In [56]:
tf.reset_default_graph()

#initializing parameters
inputs = tf.placeholder(tf.float32, shape=(None,6), name='inputs')
target = tf.placeholder(tf.float32,shape=(None,1), name= 'target')

#adding layers
layer_1 = tf.layers.dense(inputs,16,activation = 'relu')
layer_2 = tf.layers.dense(layer_1,16,activation = 'relu')
output = tf.layers.dense(layer_2,1,activation ='sigmoid')

#cost function
cross_entropy = tf.nn.sigmoid_cross_entropy_with_logits(labels = target,logits= output)
cost = tf.reduce_mean(cross_entropy)

#optimizer
optimizer = tf.train.AdamOptimizer(0.005).minimize(cost)

#computing accuracy
result = tf.equal(tf.round(output),target)
accuracy = tf.reduce_mean(tf.cast(result,tf.float32))

In [57]:
#generator function to divide dataset into mini batches 
def batcher():
    i1 = 0
    i2 = 0
    batch_size = 32
    
    while i1 <len(X_train):
        yield X_train.iloc[i1:i1+batch_size,:],Y_train.iloc[i1:i1+batch_size]
        i1+=32

In [59]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for e in range(1001):
        z = batcher()
        for x,y in z:
           #for training data
            result = sess.run([cost,optimizer,accuracy],
                              feed_dict = {'inputs:0':np.array(x).reshape(-1,6),
                                           'target:0':np.array(y).reshape(-1,1)})
        #for test data
        result = sess.run([cost,optimizer,accuracy],
                         feed_dict={'inputs:0':np.array(X_test).reshape(-1,6),
                                   'target:0':np.array(Y_test).reshape(-1,1)})
        if(e%100 == 0):
            print("Epoch : "+str(e)+" Accuracy : "+str(result[2])+" Loss : "+str(result[0]))

Epoch : 0 Accuracy : 0.6312849 Loss : 0.6931473
Epoch : 100 Accuracy : 0.72625697 Loss : 0.68298614
Epoch : 200 Accuracy : 0.74860334 Loss : 0.6696392
Epoch : 300 Accuracy : 0.7821229 Loss : 0.6598277
Epoch : 400 Accuracy : 0.8044693 Loss : 0.64041245
Epoch : 500 Accuracy : 0.79888266 Loss : 0.64193237
Epoch : 600 Accuracy : 0.8044693 Loss : 0.6400406
Epoch : 700 Accuracy : 0.81005585 Loss : 0.6386769
Epoch : 800 Accuracy : 0.81005585 Loss : 0.6386622
Epoch : 900 Accuracy : 0.81005585 Loss : 0.6386569
Epoch : 1000 Accuracy : 0.81005585 Loss : 0.6386558

In [60]:
print("Epoch : "+str(e)+" Accuracy : "+str(result[2])+" Loss : "+str(result[0]))

Epoch : 1000 Accuracy : 0.81005585 Loss : 0.6386558